<div class="flex flex-col w-full gap-y-[13px] pt-[15px] pb-[30px]">
    <app-job-filter-bar [filterParams]="searchParams" (filterParamsChange)="handleFilterBarParamsChange($event)"/>
    @if(jobsOffers == null || jobsOffers.length == 0) {
        <article class="flex w-full text-center">Loading...</article>
    }
    @if(jobsOffers && jobsOffers.length > 0) {
        <div class="text-right text-[14px]">
            {{jobsOffers.length}} Offers displayed.
        </div>
    }
    @for(jobsOffer of jobsOffers; track jobsOffer) {
        <div class="flex flex-col w-full">
            <app-job-item [jobOffer]="jobsOffer"/>
        </div>  
    }
</div>
