.main {
  box-sizing: border-box;
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    width: max-content;
  }
}

:host {
  display: flex;
  width: 100%;
  justify-content: center;
}
