@import "tailwindcss";

main {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  .jobsListItems {
    box-shadow: 0px 4px 8px rgba(20, 20, 50, 0.15);
  }
}
