<header class="flex flex-row justify-between h-[70px] items-center w-full border-b-1 border-[#d0dceccc]">
    <ul class="flex gap-x-[40px] font-[18px] h-full items-center">
        <a routerLink="/"><li>Jobs List</li></a>
        <li>Profile</li>
        <li>Resumes</li>
        <li>Cover Letters</li>
    </ul>
    <div class="flex gap-x-[20px] font-[18px] h-full items-center">
        <button routerLink="/register" class="flex justify-between text-[#7644BBcc] bg-[#ffffff] font-semibold items-center h-[40px] border-[#7644BBcc] border-1 px-[25px] rounded-full hover:cursor-pointer">
            Register
        </button>
        <button routerLink="/login" class="flex justify-between text-[#ffffff] font-semibold items-center h-[40px] bg-[#7644BBcc] px-[25px] rounded-full hover:cursor-pointer shadow-md shadow-[#7644BB44]">
            Connexion
        </button>
    </div>
</header>

